@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Sen&family=Tajawal:wght@500&display=swap');
.form__input__poke{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}

.input__poke{

width: 150px;

}

.form__search__poke{

    display: flex;
    margin-left: 2.2rem;
    margin-right: 0.4rem;
    width: auto;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.select__type{
background-color: salmon;
height: 40px;
margin-right: 2rem;
border: none;
font-size: 13px;
font-family: 'Catamaran', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Tajawal', sans-serif;
text-transform: capitalize;
width: 150px;
}


.select_poke_search {
background-color: rgb(255, 255, 255);
outline-color: aqua;
margin: 1rem;
text-transform: capitalize;
font-size: 18px;
}


@media (min-width: 768px) {

.select__type{
width: 350px;
}


}

